#reeltalk-list {
	.reply {
		display: none;
	}
}
.comments {
  .single & {
	  display: none;
  }
  
  h4 {
    color: $fontColorAlt;
  }
  p {
    clear: left;
    margin: 0.5rem 0 0.5rem;
    color: $fontColorAlt;
    font-size: 1.1rem;
  }

  .reply {
	font-size: 14px;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
  }

  .toggle {
    cursor: pointer;
    color: $brand-accent;
    font-size: 0.9rem;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0.5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

.toggle-all {
  color: green !important;
  @include button-outline-variant($brand-accent, #fff)
}

.comment-author {
  float: left;
  cite {
	margin-left: 1rem;
	font-style: normal;
  }
}
cite {
 font-size: 18px;
}
.commentmetadata {
  font-size: 14px;
  // padding-top: 0.4rem;
  padding: 0.4rem 0 1rem;
  a {
	  margin-left: 1rem;
	  color: #fff;
  }
}

.comment-list {
  @extend .list-unstyled;

  @include media-breakpoint-up(sm) {
  	padding: 1.5rem 4rem;;
  }
  padding: 1.5rem 1rem;;
  background-color: $modal-content-bg;

  > li > ul.children {
    display: none;
  }
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}