// Search form
// .search-form {
//   @extend .form-inline;
// }

:root {
	div.um-modal .upload {
		background-color: $brand-accent;
		&:hover {
			background-color: rgba($brand-accent, 0.7);
		}
	}
}

.search-form label {
  font-weight: normal;
  // @extend .form-group;
  margin-bottom: 0;
}
.search-form .search-field {
  @extend .form-control;
  border: none;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.browser-mobile {
	input[type="file"] {
	  width: 8rem;
	  // @extend .btn;
	  // border: 1px solid $brand-primary;
	}
/*
	input[type="button"],
	input:matches([type="button"],
	input[type="file"]::-webkit-file-upload-button) {
		border: none;
		outline: none;
		background: none;
	}
*/
}

/* !Video Page Form */

#video_upload {
	input[type=submit] {
		padding: 1rem 5rem;
		margin: 1rem auto;
		display: block;
	}
}

#acf-form {
	[data-name="video"] {
		display: none;
	}
}
.acf-field {
	.acf-switch.-on {
    	background: $brand-accent;
    	border-color: darken( $brand-accent, 20% );
        &:hover {
	        background: darken( $brand-accent, 20% );
        }
	}
	.acf-switch .acf-switch-on {
	// 	text-shadow: #1f7db1 0 1px 0;
		text-shadow: darken( $brand-accent, 20% ) 0 1px 0;
	}
	.acf-switch.-on .acf-switch-slider {
    	border-color: darken( $brand-accent, 20% );
	}
}

a.um-message-btn {
	.um-followers-btn & {
		display: none !important;
	}
	#objectID & {
		display: inline-block !important;
	}
}

#openmessage {
	display: none;
	&.show {
		display: block;
	}
	.is-artist & {
		display: none !important;
	}
}

#artistmessage {
	display: none;
	cursor: default !important;
	.is-artist & {
		display: block;
	}
	.not-artist & {
		display: none !important;
	}
	&:hover {
		background-color: $brand-accent !important;
	}
}

#objectID {
	margin-top: 1rem;
	h3 {
		text-align: center;

	}
	#dealbutton {
		margin: 1rem auto;
		text-align: center;

		&.no-messages {
			// display: none;
			opacity: 0;
			z-index: -999;
			pointer-events: none;
			cursor: default;
		}

		&.messages {
			display: block;
		}

		a.um-message-btn:before {
			content: '';
			display: none;
		}
	}
	.um-button {
		@extend .btn;
		@extend .btn-secondary;
		display: block;
		width: auto;
		margin: 2rem auto 0;
	}
	.um-message-conv-item {

		&.active {
			background-color: rgba($brand-primary, 0.45);
		}
	}
	&.not-artist {
		.um-message-conv {
			display: none;
		}
		.um-message-conv-view {
			max-width: 800px;
			margin: 0 auto;
			border-left: none;
			display: block !important;
		}
	}
	&.is-artist {
		.um-message-conv-item {
			display: none;
			&.show {
				display: block;
			}
		}
	}
}

form#submission {
	div[data-name="_post_title"], div[data-name="job_posting"] {
		display: none;
	}
	.acf-field {
		border: none;
	}
}

form#strike_deal {
	.acf-fields{
		display: none;
	}
	input[type=submit] {
		display: block;
		margin: 1rem auto;
	}
}

#videoSurvey {
	.small {
		font-size: 14px;
		display: inline;
	}
}

form#survey {
	div[data-name="video_artist_email"] {
		display: none;
	}
	.acf-field--post-title {
		display: none;
	}
	.acf-field {
		border: none;

		textarea {
			background: $modal-content-bg;
			color: $fontColorAlt;
			font-size: 16px;
			// border: 1px solid rgba(102,102,102,0.8);
			border: none;
		}

		.acf-input {
            background-color: $modal-content-bg;

            ul.acf-radio-list,
            .acf-button-group {
	            padding: 1rem;

	            li {
	            	margin-bottom: 0;
	            	line-height: 2.0rem
            	}
            }
		}
	}
	div[data-name="_post_titleOFF"], div[data-name="video_id"], div[data-name="video_artist_name"], div[data-name="surveyors_profile_url"] {
		display: none;
	}
}

form#trailer_upload_for_sale {
	.new-upload-for-sale & {
		div[data-name="viewing_permissions"] {
			display: none;
		}
	}
}
.no-flex {
	display: block !important;
    .acf-button-group {
	    display: block !important;
	    @extend .clearfix;
	    label {
        	display: block;
			float: left;

			&:nth-of-type(7) {
 				clear: left;
 			}
    	}
	}
}

/* !ACF Forms */

.acf-table {
	label {
		color: $fontOnLIght;
	}
}
input::placeholder {
  // color: rgba($brand-accent,0.6)
  opacity: 0.8;
  font-family: $mainfont;
}
.acf-input {
	// color: $gray-dark; // $gray-dark located bower_components/bootstrap/scss/_variables.scss
	color: $fontOnLIght;
	p, .acf-radio-list label, {
		color: $fontColor;
	}
	.acf-input-prepend {
		height: 100%;
	}
	a.acf-icon {
		background-color: $brand-accent;
		&:hover {
			background-color: rgba($brand-primary, 0.6);
		}
	}
	.select2-container .select2-search--inline, .select2.select2-container .select2-selection {
		line-height: 100% !important;
		height: auto;
	}
	.acf-file-uploader, .acf-image-uploader {
		a, input {
			border: 1px solid $brand-primary;
		}
	}
// 	.acf-basic-uploader input {
// 		@extend .acf-file-uploader;
// 		@extend .button;
// 	}
.acf-basic-uploader {
    overflow: hidden;
    position: relative;
    width: 10rem;
    height: 2.5rem;
	@extend .acf-file-uploader;
	@extend .button;

	&::after {
		content: 'Upload File';
		position: absolute;
		top: 0;
		left: 0;
		color: $brand-primary;
		border: 1px solid $brand-primary;
		border-radius: 4px;
		padding: 0.5rem 1rem;
	}

	[type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
}
	ul.acf-radio-list li {
		font-size: 1.1rem;
		margin-bottom: 0.8rem;
		line-height: 100%;

		[data-name="content_reel"] & {
			font-weight: bold;
		}

		input[type="radio"] {
			margin: 0 0.8rem 0 0;
			position: relative; bottom: 3px;
		}
	}

	.select2-selection__rendered {
		// line-height: 28px;
		font-size: 13px !important;
		color: rgba(117, 117, 117,1) !important;
	}
}
.acf-field--post-title {
	@include media-breakpoint-up(md) {
		width: 50%;
	}
}

.acf-label {
	.description {
		font-size: 1rem;
		line-height: 1;
		span {
			font-size: 0.8em;
			padding-left: 0.5rem;
		    &:first-of-type {
			    display: inline-block;
			    padding-top: 0.5rem;
		    }
		}
	}
}

[data-name="video"] {
	display: flex;

	.acf-label {
		margin-right: 2rem !important;
	}

    label {
	    display: block;
	    float: left;
	    margin-right: 1rem !important;
    }
    p.description {
	    float: left;
    }
}

[data-name="content_reel"] {
  .acf-label {
	display: none;
  }

  .acf-radio-list li:last-of-type:after {
	  content: "(only seen by artists and studios)";
	  line-height: 1;
	  font-size: 0.7rem;
	  margin-left: 0.5rem;
	  color: #fff;
  }
}

.not-editable {
	.single-post & {
		.acf-taxonomy-field {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.single-post {
	form.acf-form {
		.acf-field[data-width] {
    		border-left: none;
		}
	}
}

.btn {
	cursor: pointer;
}
.button {
	 @extend .btn;
}
.button-primary {
	@extend .btn-primary;
}
.acf-form-submit input,
.acf-field .acf-button-group label.selected {
	@extend .btn-secondary;
}

.list2column li {
	width: 40%;
}

.acf-icon.small.-plus {
  width: 22px;
  height: 22px;

  &:before {
    font-size: 1.3rem;
    color: #fff;
  }
}
@include media-breakpoint-down(sm) {
	:root .acf-fields > .acf-field {
		width: 100% !important;
		min-height: none !important;
		border-left: none !important;
		border-right: none !important;
		padding: 15px 5px;
	}

	:root .acf-table {
		> tbody {
			> tr {
				> td,
				> th {
					padding: 5px 2px 3px;
				}
			}
		}
		.acf-repeater .acf-row-handle {
			width: 4px;

			&::before {
				width: 4px;
			}
		}
	}
}
