.accent {
	color: $brand-accent;
}
.primary {
	color: $brand-primary;
}
.small {
	clear: left;
	display: block;
	margin-top: 0.5rem;
	label & {
		margin-left: 1.8rem;
		font-style: italic;
		color: $fontColorAlt;
	}
}
.large {
	font-size: 150%;
}

.flex {
	display: flex;
}