/* !Sign-up page */
body.sign-up {
	background-image: url(../images/landing-page-1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.banner .outlinetext, .content-info {
		display: none;
	}
}

#landing2, #register {
	display: none;
	z-index: -1;
	opacity: 0;
	transition: 500ms;
}

body.landing2,
body.seen {
	background-image: url(../images/landing-page-2.jpg);
	#landing2 {
		display: block;
		opacity: 1;
		z-index: 1;
	}
	#landing1 {
		display: none;
	}
}

body.register,
body.register-audience,
body.register-filmmaker,
body.register-studio {
	background-image: url(../images/landing-page-3.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	#register {
		display: block;
		opacity: 1;
		z-index: 1;

		h2 {
			margin: 0.3rem 0;
		}
	}
	#landing1, #landing2 {
		display: none;
	}
	.um-postmessage {
		font-size: 25px;
		color: #fff;
		text-align: center;
		line-height: 1.3;
		p {
			margin: 2.5rem 0;
		}
	}
}

#landing1 {
	text-align: center;
	max-height: calc(100vh - 111px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	h3 {
		font-size: 63px;

		@include media-breakpoint-down(sm) {
			font-size: 11.5vw;
		}
	}
	h5 {
		font-size: 25px;
		line-height: 1.5;

		@include media-breakpoint-down(sm) {
			font-size: 6vw;
		}
	}
	span {
		color: $brand-primary;
	}
	button {
		margin-bottom: 3rem;
	}
	div {
		margin-bottom: 3rem;
	}
}

#landing2 {
	.wrap {
		background: rgba($modal-content-bg,0.55);
		padding: 1rem 2rem 0rem 2rem;
		box-shadow: 0 0 1px rgba(0,0,0,0.8);
		margin-bottom: 3rem;
		p {
			font-size: 1.1em;
			line-height: 1.15;
		}
	}
	ul {
		list-style: disc;
		line-height: 1.25;
	}

	h4 {
		font-weight: 900;
	}

	span {
		color: $brand-primary;
	}

	.btn {
		transform: translateY(50%);
	}
}

[data-key="imdb"] i:before {
    font-family: FontAwesome!important;
    content: $fa-var-imdb;
}

#landingWrapper {
	.um-register {
		width: 600px;
		background: rgba($modal-content-bg,0.55);
		padding: 2rem;
		max-width: 80vw;
	}

	.um-field-label {
		display: none;
	}

	.um-field-radio {
		.um-field-label {
			display: block;
			margin-bottom: 0;
		}

		label,
		.um-field-radio-option {
			color: $fontColor !important;
			text-shadow: 0 0 6px rgba($modal-content-bg,0.8);
			margin-bottom: 0;
		}

		.um-field-radio {
			width: auto;
			float: left;
			margin-right: 1rem;

			i {
				text-shadow: none;
				cursor: pointer;
			}
		}

		.um-field-radio-option {
			// color: #000 !important;
		}
	}

	.um-field-block {
		color: rgba($fontColor,0.75);
	}

	.buttonOFF {
	   border-top: 1px solid $brand-primary;
	   outline: none;
	   border-width: 1px 0 0 0;
	   background: $brand-accent;
	   padding: 0.5rem 1rem;
	   border-radius: 0px;
	   text-shadow: rgba(255,255,255,.4) 0 1px 0;
	   color: white;
	   font-size: 1.4rem;
	   text-decoration: none;
	   vertical-align: middle;

	   &:hover {
	   border-top-color: $brand-primary;
	   background: $brand-primary;
	   color: $fontColor;
	   }
	   &:active {
	   border-top-color: $brand-primary;
	   background: $brand-primary;
	   }
	}
}

/* !Original Landing Page Coming Soon Seed Prod */

#top {
	display: flex;
	align-items: center;
	h2 {
		font-weight: normal;
		white-space: nowrap;
		display: block;
		margin: 0;
		color: rgba(227, 164, 77, 0.6);
		background: -webkit-linear-gradient(rgba(227, 164, 77, 0.6), rgba(227, 164, 77, 1) );
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-bottom: 0.5rem;
	}
	img {
		margin: 0;
	}
}
#cspv4-content {
	max-width: 800px;
	padding: 0;
}
#cspv4-description {
	max-width: 600px;
	margin: 0 auto;
	h1 {
		margin-bottom: 1rem;
	}
	h3 {
		margin: 1rem 0;
	}
	h4 {
		color: rgba(217, 35, 46, 0.9);
	}
}
.register #landing {
	max-height: 0;
	overflow: hidden;
	transition: max-height 900ms;
}
#landing {
	max-height: 600px;
	transition: max-height 900ms;

	p {
		font-size: 1.5rem;
		line-height: 150%;
		}
	h4 {
		font-size: 2rem;
		margin-top: 1rem;
	}
}
.word1 {
	color: $brand-accent;
}
.word2 {
	color: $brand-primary;
}
.word3 {
	color: $brand-accent;
    text-shadow: 0 0 2px $brand-primary;
}
#cspv4-page {
	i {
		font-weight: bold;
		color: rgba(227, 164, 77, 0.8);
		font-size: 120%;
	}
	section.leftalign {
		width: auto;
	    text-align: left;
	    display: inline-block;
	    margin: 0 auto;
	}
	#cspv4-alert {
		padding: 0;
		margin: 0;
		border: 0;
	}
	.gform_wrapper {
		padding: 0 0 0 1rem; margin: 0;
		max-height: 0px; overflow: hidden;
		transition: height 900ms, padding 1s;
	}
	.register .gform_wrapper {
		background-color: #1d1d1d;
		max-height: 1190px;
		padding: 1rem 0 1rem 1rem;
	    margin: 0 0 2rem 0;
	    border-radius: 11px;
	    transition: max-height 900ms, padding 1s;
	}
	#cspv4-content .gform_wrapper ul.gform_fields li.gfield {
		margin: 0.5rem 0;
	}
	.gform_wrapper .gfield_radio li label {
	    margin: 5px 4px 0 6px;
	}
	.gform_wrapper label.gfield_label {
		padding-top: 0.8rem;
	}
	.gform_wrapper .ginput_complex .ginput_left input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex .ginput_right input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex .ginput_right select, .gform_wrapper .ginput_complex input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]), .gform_wrapper .ginput_complex select {
	    width: 100%;
	    height: auto;
	    padding: 2px 0.5rem;
	}
	li.gfield {position:relative;}
	.ginput_container_website + .gfield_description {
		position: absolute;
	    top: 18px;
	}
	#landing .button {
		margin-bottom: 1rem;
		font-size: 2rem;
	    height: auto;
	    line-height: 2rem;
	}
}
#cspv4-thankyoumsg {
	margin-top: 3rem;

	p {
		font-size: 2rem; line-height: 2.2rem;
		color: rgba(227, 164, 77, 0.8);
	}
}
@media screen and (max-width: 600px) {
/*
	body * {
    	max-width: calc(100vw - 0px) !important;
	}
*/
	#top {
		flex-wrap: wrap;
	}
	.seed-csp4 h2, .seed-csp4 .h2 {
    	font-size: 27px;
    	font-size: 8vw;
	}
	.register .gform_wrapper {
		max-height: none;
	}
	.gform_wrapper form ul.left_label li ul.gfield_checkbox li, .gform_wrapper form ul.left_label li ul.gfield_radio li, .gform_wrapper form ul.right_label li ul.gfield_checkbox li, .gform_wrapper form ul.right_label li ul.gfield_radio li, .gform_wrapper ul.left_label li ul.gfield_checkbox li, .gform_wrapper ul.left_label li ul.gfield_radio li, .gform_wrapper ul.right_label li ul.gfield_checkbox li, .gform_wrapper ul.right_label li ul.gfield_radio li {
		margin-bottom: 0 !important;
	}
}