#moreLike {
	margin-top: 4rem;
}

/* !Video Page */

.wp-video {
	margin-bottom: 1rem;
	height: 0;
	padding-bottom: 56.25%;
	@include media-breakpoint-down(md) {
		max-width: 100vw;
		width: 100vw;
		margin: 0 -5px;
		position: fixed; top: 0; left: 0;
		z-index: 10;

		+ header {
			padding-top: calc(63% + 30px);
		}
	}
    video {
	    width: 100%;
    }
}
.entry-content {
	@extend .um-meta-text;
	color: $fontColorAlt;
}
.single {

	@include media-breakpoint-down(sm) {
		.entry-content {
			p {
				margin-bottom: 0.5rem;
			}
		}
	}
	.credit {
		float: left;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
			margin-bottom: 0.5rem;

			.um {
				width: auto;
			}
		}

		p {
			line-height: 2.5rem;
			margin: 0 1rem 0 0;
			flex-shrink: 0;
		}

		.um {
			margin-right: 1rem;
		}

		a[rel="author"] {
			font-size: 1.2rem;
		}
	}
	.um {
		margin-bottom: 0 !important;
	}
	.um-followers-bar {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include media-breakpoint-down(sm) {
			padding: 0;
		}

		.um-followers-rc {

			display: flex;
			align-items: center;

			+ .um-followers-rc {
				display: none;
			}

			a {
				border: none;
				color: $fontColor !important;
				padding: 0 0.5rem 0 0 !important;

				span {
					display: inline;
					padding-left: 0.5rem;
					color: $brand-accent;
				}
			}
		}
		.um-followers-btn {
			float: left;
			margin: 0 0 0 0.4rem;

			a {
				margin-right: 1rem;
				border-radius: 4px!important;
				color: $fontColor;
				background: $brand-accent;
				position: relative; top: 0.2rem;

				@include media-breakpoint-down(sm) {
					min-width: 0;

					&:before {
						display: none;
					}
				}
			}

			span {
				font-size: 13px;
				color: $fontColor;
			}
		}
	}

}

#doSurvey {
	padding: 0.1rem 1rem 0.3rem;
	font-size: 1rem;

	.for-sale &,
	.category-portfolio-reels & {
		display: none;
	}

	@include media-breakpoint-down(sm) {
		font-size: 0.9rem;
		margin: 1rem 0;
	}

	[class*="um-icon-"] {
		font-size: 1.4rem;
		position: relative;
		top: 0.2rem; left: -0.1rem
	}
	span {
		color: $fontColor;
	}
}

.option-bar {
	clear: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
	color: $fontColor;

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
	}

	a {
		color: $fontColor;
	}

	> div {
		min-height: 2.3rem;	min-width: 4rem;
		margin-right: 1rem;
		position: relative;

		&.addtoplaylist-wrapper {
			min-width: 3rem;
		}

		.like-count {
			position: absolute; top: 0.4rem; left: 2.4rem;
		}
	}
	.post-views-count, .like-count, .button-comment {
		font-size: 1rem !important;
	}
	.post-views-icon {
		font-size: 1.9rem !important;
		position: relative; bottom: 2px;
		width: auto; height: auto;
	}

// 	.wpfp-span {
// 		img {
// 			display: none;
// 		}
// 		a {
// 			line-height: 1.6rem;
// 			display: block;
// 			height: 2.5rem;
// 			position: relative; top: 0.3rem;
// 			color: $background;
// 
// 			&:before {
// 				content: "\f164";
// 				font-family: FontAwesome;
// 				font-size: 1.8rem;
// 				margin-right: 0.4rem;
// 				display: block;
// 				color: $fontColor;
// 			}
// 			&:hover {
// 				color: $fontColor;
// 			}
// 		}
// 	}
	#sharediv {
		min-width: 6rem;
		z-index: 1;
		.text {
			position: absolute; top: 0.4rem; left: 2rem;
			font-size: 1rem;
		}
	}
	.addtoplaylist-wrapper {
		.cbxwpbkmarkwrap {
			position: absolute; top: 0; left: 0;
			width: 100%; height: 100%;
			.cbxwpbkmarktrig-button-addto {
				opacity: 0;
			}
		}
	}
	.liked {
		a {
			&:before {
				color: $brand-primary;
			}
		}
	}
	.cbxlbjs-item .cbxlbjs-item-name {
		max-width: 200px;
		font-size: 1rem;
		&:before {
			position: relative; bottom: 2px;
		}
	}
	.essb_links {
		background: $background;
		z-index: 1;

		.essb_icon_share-outline:before {
			font-family: FontAwesome !important;
			content: "";
		}
		.essb_link_sharebtn a {
			background-color: transparent!important;
			margin-top: 0;
			&:hover {
				background: none;
			}

			.essb_icon:before {
				color: $fontColor;
				font-size: 1.8rem !important;
				top: -2px; left: 0;
			}
		}
		.essb_link_sharebtn {
			position: absolute; top: 0; left: 0;
		}
		li.essb_before_less {
			position: relative; top: 1.8rem;
			&:last-of-type {
				padding-bottom: 1.8rem !important;
			}
		}
	}
	#makeComment {
		cursor: pointer;
	}
	#addReelTalk, #castCrew, #inquire {
		cursor: pointer;
		font-size: 1.15rem;
		line-height: 2rem;
	}
	#addReelTalk {
		padding-left: 2.35rem;
		.um-faicon-comments-o {
			font-size: 1.9rem;
			position: absolute; top: -4px; left: 0;
		}
	}
}

.likebtn-wrapper {
	.featureContainer & {
		transform: scale(1.4);
	}

	&.lb-style-custom {
		.lb-like,
		.lb-dislike	{
		    padding: 0;
		    margin: 0;
		    border: 0;
		    bottom: 2px;
		    position: relative;
	
			.lb-a {
				top: -5px;		

				.metrics & {
					top: -2px;
				}
			}
		}

		// .likebtn-icon {
		// 	font-size: 20px !important;
		// 	height: 20px !important;
		// }
	}

	.lb-tt-m {
		display: none !important;
	}
}

div.likebtn-mdl-wrapper,
div.likebtn-mdl-title {
	background-color: $background;
	color: $fontColor;

    p {
      color: $fontColor;
      opacity: 1;
      background: transparent;
      border: none;
      color: #fff
    }
}
	
@mixin metricicons {
	font-family: FontAwesome;
	font-size: 1rem;
	margin-right: 0.4rem;
}
@mixin likeThumb {
	font-family: FontAwesome;
	content: "\f164";
	font-size: 1.4rem;
	color: $fontColor;

	@include media-breakpoint-down(md) {
		font-size: 1.1rem;
	}
}
.metrics {
	// color: $brand-primary;
	margin: 0.8rem auto 0;
	width: 90%;
	display: flex;
    justify-content: space-around;
    align-items: center;

    .row & {
	    position: absolute; bottom: -1.9rem; left: 5%;

		@include media-breakpoint-down(md) {
			bottom: 0;
			margin: 0;
		}
	}

    .tile:hover & {
	    bottom: -0.5rem;

		@include media-breakpoint-down(md) {
		 bottom: 0;
		 margin: 0;
		}
    }

    .see-more {
	    display: none;
    }

	> span, > div, > a {
		height: 1.5rem;
		background-repeat: no-repeat;
		background-position: 0;
		background-size: 1.6rem;
		line-height: 1.5rem;
		font-size: 1rem;

		.featureContainer & {
			font-size: 2rem;
			padding-right: 2.5rem;
		}

		.zr-item-meta & {
			padding-right: 2.5rem;

			@include media-breakpoint-down(sm) {
				padding-right: 1rem;
			}
		}
	}

	a.count-comments {
		padding-right: 0;
		color: $fontColor;
		&:before {
		    content: '\f086';
		    @include metricicons;
		    .featureContainer & {
				font-size: 2.1rem !important;
			}
		}
	}

	.liked{
		color: $brand-primary;
	}
	.see-more {
		.zr-item-meta & {
			display: inline-block;
			padding: 0 0 0 2.5rem;
		}
	}

	.post-views-icon {
		font-size: 1.5rem !important;
		position: relative; bottom: 2px;
		width: auto; height: auto;

		.featureContainer & {
			font-size: 2.1rem !important;
		}
	}

//	.wpfp-span {
//		font-size: 0;
//		&.showThumb{
//			bottom: 0;
//			width: 2rem;
//			&:before {
//				@include likeThumb;
//			}
//			&.liked:before {
//				color: $brand-primary;
//			}
//		}
//
//		img {
//			display: none;
//		}
//		a {
//			line-height: 1.6rem;
//			display: inline-block;
//			height: 2.5rem;
//			position: relative; top: 0.3rem;
//			color: transparent;
//			font-size: 1rem;
//			width: 2rem;
//
//			@include media-breakpoint-down(md) {
//				width: 1.4rem;
//			}
//
//			.featureContainer & {
//				width: 2.5rem;
//			}
//
//			&:before {
//				@include likeThumb;
//
//				.featureContainer & {
//					font-size: 1.9rem;
//				}
//			}
//			&:hover {
//				// color: $fontColor;
//				color: transparent;
//			}
//		}
//	}
	.liked {
		a {
			&:before {
				color: $brand-primary;
			}
		}
	}
}
	.cbxwpbkmarklistwrap {
		color: #ccc;
		background-color: $background;
		min-width: 250px;
	}
	.cbxbookmark-switch-field input:checked + label,
	a.cbxwpbkmarkaddnewcatcreate,
	a.cbxwpbkmarkaddnewcatcreate:hover,
	a.cbxwpbkmarkaddnewcatcreate:focus {
		background-color: $brand-accent;
	}
// 	.wpfp-span {
// 		position: relative; bottom: 5px; float: left;
// 	}
	.button-addto {
	    text-indent: -9999px;
	    height: 2.0rem;
	    width: 2.6rem;
	    background: url(/app/assets/ic_playlist_add_fff.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
	.button-comment {
		display: inline-block;

		&:before {
			content: "\f086";
			font-family: FontAwesome;
			font-size: 1.9rem;
			margin-right: 0.4rem;
		}

	}
	.essb-point {
		position: relative; top: 0; left: 0;

		.essb_icon_share {
		    font-size: 2rem;
		    line-height: 2rem;
		    color: $brand-primary;
		    background-color: transparent;
		    padding: 0px!important;
		    &:hover, &:active {
			    background-color: $brand-accent
		    }
		}
	}
	.essb_links_list {
		position: absolute; top: 0;
		padding: 1rem 2rem !important;
		background-color: $background;
		width: 140px;
		transition: 400 ease-out;
		z-index: 100;

	}

.cbxwpbookmark-mylist {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		a {
			// font-size: 1.2rem;
		}
	}
}

.yarpp-related {
    h3 {
	    font-weight: normal;
	    font-size: 1rem;
    }

	a {
    display: block;
    width: 31%; margin-right: 3.5%;
    float: left;
    font-size: 0.8rem; line-height: 1.9rem; font-weight: normal;

	    img {
		    height: auto;
	    }
	    .yarpp-thumbnail-title {
		    font-weight: normal;
		    display: block;
		    font-size: 1.1rem;
	    }

	    &:last-of-type {
		    margin-right: 0;
	    }
	}
}

#comments, #reeltalk, #castCrewList, #inquiring, #videoSurvey {
	clear: left;
	display: none;

	h2 {
		font-size: 1.1rem;
	}
}

#crewcastModal {
	.filmmaker {
		position: absolute;
		left: 3rem;
	}

	.modal-title {
	    line-height: 1.3;
	    padding-top: 0.3rem;
	}
}

#castCrewList {
	margin-bottom: 2rem;

	.castcrew {
		margin-bottom: 2rem;

		tr:first-of-type {
			th {
				padding-top: 0;
			}
		}

		th {
			font-size: 1.2rem;
			color: $brand-primary;
			padding-top: 1.5rem;
		}

		td {
			padding-right: 1rem;

			&:nth-child(odd) {
			    font-weight: bold;
			}
		}
	}
}


/* !Video Deal Page */

#moviePoster {
	max-width: 200px;
	// border: 1px solid $brand-accent;
	// margin-left: 3rem;
    // float: left;
}

.video-meta {
	a {
		color: #fff;
	}
}

.um-profile-nav {
	background-color: none;
	.um & {
		background-color: #444;
	}
	.um-profile-nav-item {
		i {
			top: 5px;
		}
		&.active a {
			background-color: $brand-accent;
			font-size: 14px;
		    font-weight: 700;
		}
	}
}

#pitch {
	clear: left;
}

/* !Video Player */

:root .mejs-controls .mejs-time-rail .mejs-time-current {
	background-color: $brand-accent;
}

:root {
    .mejs-container {
    	border: none !important;
    	outline: none !important;
    
    	&:focus, &:active {
    		// border: none !important;
    		outline: none !important;
    	}
    }
}

@include media-breakpoint-down(md) {
	:root .mejs-controls {
		top: 100%;
	}
	:root .mejs-controls, :root .mejs-button, :root .mejs-time, :root .mejs-time-rail {
		height: 30px
	}
	:root .mejs-button>button {
		margin: 5px 6px;
	}
	:root .mejs-time {
		padding: 11px 6px 0;
	}
	:root .mejs-time-rail {
		padding-top: 5px;
	}
}